.standings {
  position: relative;
  background-color: rgb(13, 13, 173);
  left: 1%;
  padding: 1%;
  border: 3px solid rgb(161, 18, 18);
  border-radius: 30px;
  opacity: 0.85;
}

.footer {
  position: fixed;
  width: 100vw;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  padding: 0.3%;
}

.footerLink {
  text-decoration: none;
  color: white;
}

.mainContainer {
  display: flex;
}
