.contentContainer {
  display: grid;
  grid-template-columns: 30vw 67vw;
  grid-template-rows: 20vh 72vh 5vh;
  grid-template-areas:
    "results results"
    "standings search"
    "footer footer";
  grid-column-gap: 3vw;
  grid-row-gap: 1vh;
  place-content: space-between;
  width: 100vw;
  height: 100vh;
}

.resultScroll {
  grid-area: results;
  width: 100vw;
}

.standings {
  background-color: black;
  padding: 2%;
  margin-left: 5%;
  border: 3px solid white;
  border-radius: 30px;
  opacity: 0.9;
  grid-area: standings;
  width: 100%;
}

.search {
  grid-area: search;
  width: 98%;
  margin-right: 2%;
  border: 3px solid white;
  border-radius: 30px;
  background-color: black;
  opacity: 0.9;
}

.footer {
  background-color: black;
  color: white;
  padding: 0.3%;
  grid-area: footer;
}

.footerLink {
  text-decoration: none;
  color: white;
}

@media (max-width: 1200px) {
  .contentContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25vh auto 100vh 5vh;
    grid-template-areas:
      "results"
      "standings"
      "search"
      "footer";
    width: 100vw;
    grid-row-gap: 3vh;
  }

  .standings {
    background-color: black;
    border: 3px solid white;
    border-radius: 30px;
    opacity: 0.9;
    grid-area: standings;
    width: 90vw;
    margin-left: 5vw;
  }

  .search {
    grid-area: search;
    width: 90vw;
    margin-left: 5vw;
    height: 100%;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    opacity: 0.9;
  }
}
