.gameTile {
  display: grid;
  grid-template-columns: 49% 49%;
  grid-template-rows: 20% 60%;
  grid-template-areas:
    "date date"
    "home away";
  grid-column-gap: 2%;
  grid-row-gap: 20%;
  place-content: center;
  color: black;
  background-color: white;
  border: 2.5px solid rgb(161, 18, 18);
  border-radius: 20px;
  padding: 2%;
  height: 100%;
}

.gameBasicInfo {
  font-weight: bolder;
  grid-area: date;
}

.homeTeam {
  grid-area: home;
}

.awayTeam {
  grid-area: away;
}

.homeaway {
  font-size: smaller;
}

.score {
  font-weight: bolder;
}
.names {
  font-weight: 600;
}
