* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(https://cdn.nba.net/nba-drupal-prod/styles/landscape/s3/2018-08/leaguev3.jpeg?itok=j-c6KHL_);
  background-size: cover;
}

@media (max-width: 1800px) {
  * {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  * {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  * {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  * {
    font-size: 8px;
  }
}
