* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: minmax(2vw, 1vh);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url(https://cdn.nba.net/nba-drupal-prod/styles/landscape/s3/2018-08/leaguev3.jpeg?itok=j-c6KHL_);
  background-size: cover;
  background-attachment: fixed;
}
